# Fichiers secrets
config/secrets/local_secrets.yaml
config/secrets/*_secrets.yaml
!config/secrets/example_secrets.yaml

# Fichiers d'environnement
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Dossiers de données
data/cache/
data/checkpoints/
data/output/

# Logs
logs/
*.log

# Notebooks
.ipynb_checkpoints

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

